// =============================================================================
//
// Global
//
// =============================================================================

body {
    font-family: $lato;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}   

a, .btn-link {
	color: $c-blue;
	text-decoration: none !important;
	@include transition(color .3s);
	&:hover, &:focus {
		color: $c-blue-dark;
	}
}
 
// =============================================================================
//
// MAIN CONTENT
//
// =============================================================================

.content-heading {
	font: {
		family: $open-sans;
		size: 36px;
		weight: 700;
	};
	color: #B6BBC0;
	letter-spacing: 2.29px;
	margin: 0px 0px 30px;
	padding-bottom: 65px;
    text-align: center;
    position: relative;
    &:after {
    	background-color: $c-grey;
    	content: " ";
    	display: block;
    	@include position(absolute, $right: 0px, $bottom: 0px, $left: 0px);
    	height: 1px;
    	width: 100px;
    	margin: 0 auto;
    }
	@media (max-width: $screen-xs-max) {
		font-size: 24px;
		color: #B6BBC0;
		letter-spacing: 1.53px;
		margin-bottom: 5px; 
		padding-bottom: 45px;
	}
}

.content-subheading {
	opacity: .8;
	text-align: center;
    font-size: 15px;
    position: relative;
    top: -85px;
	@media (max-width: $screen-xs-max) {
		font-size: 12px;
		top: -45px;
	}
}

.main-content {
	padding-top: 75px;
	padding-left: $left-335px;
	.container { 
		padding-top: 50px;
		padding-bottom: 50px;
		width: 805px;
	}
	@media (max-width: $screen-sm-max) {
		padding-left: 0px;
		.container {
			width: 100%;
			padding: 30px 20px; 
		}
	}
}