// Tabs
.nav-heading {
	@include clearfix;
	border: 0px;
	margin-bottom: 50px;
	margin-top: 15px;
	> li {
		width: 50%;
		> a {
			border: 0px !important;
			display: block;
			padding: 5px 0px;
			> .content-heading {
				font-size: 32px;
				margin-bottom: 0px;
				padding: 0px;
				transition: color .3s;
				&:after {
					display: none;
				}
			}
		}
		&:first-of-type {
			border-right: 1px solid #bdbdbd;
		}
		&:last-of-type {
			border-left: 1px solid #bdbdbd;
		}
		&:hover, &:focus {
			> a {
				> .content-heading {
					color: #919191;
				}
			}
		}
		&.active {
			> a {
				pointer-events: none;
				> .content-heading {
					color: #616161;
				}
			}
		}
	}
	@media (max-width: $screen-xs-max) {
		margin-bottom: 30px;
		margin-top: 0px;
		> li {
			> a {
				> .content-heading {
					font-size: 16px;
				}
			}
		}
	}
}
.post-tabs {
	margin-bottom: 20px;
	> .nav-tabs {
		@include clearfix;
		border: 0px;
		margin-bottom: 30px;
		margin-left: -10px;
		> li {
			line-height: 16px;
			padding-right: 10px;
			padding-left: 10px;
			> a {
				border: 0px;
				font-size: 14px;
				letter-spacing: -0.1px;
				color: #737C8A;
				line-height: 16px;
				text-transform: uppercase;
				&:hover {
					opacity: .7;
				}
			}
			&.active {
				> a {
					font-weight: 700;
					border: 0px;
					color: $c-blue;
					&:hover {
						opacity: 1;
					}
				}
			}
			&:first-of-type {
					border-right: 1px solid #D8D8D8;
			}
		}
	}
	@media (max-width: $screen-xs-max) {
		> .nav-tabs {
			display: table;
			width: 100%;
			text-align: center;
			> li {
				float: none;
				display: table-cell;
				vertical-align: middle;
				&:first-of-type {
					a {
						margin-right: -15px;
					}
				}
				&:last-of-type {
					a {
						margin-left: -15px;
					}
				}
			}
		}
	}
}