.feeds-grid {
	.row {
		margin-left: -25px;
		margin-right: -25px;
		> [class^="col-"],
		> [class*=" col-"] {
			padding-left: 25px;
			padding-right: 25px;
		}
	}
	.subscribe-card {
		@include flexbox;
		@include justify-content(center);
		@include align-items(center);
		margin: 0 0 60px;
		min-height: 460px;
		padding: 30px;
		.inner {
			> h3 {
				font-size: 18px;
			}
		}
	}
	@media (max-width: $screen-xs-max) {
		.row {
			margin-left: -20px;
			margin-right: -20px;
			> [class^="col-"],
			> [class*=" col-"] {
				padding-left: 0;
				padding-right: 0;
			}
		}
		.subscribe-card {
			border-radius: 0;
			margin-bottom: 0;
			min-height: auto;
			padding: 45px 30px;
			.inner {
				> h3 {
					font-size: 15px;
				}
			}
		}
	}
}

.feeds-item {
	border-radius: 7px;
	border: 2px solid #e0e0e0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	min-height: 460px;
	margin-bottom: 50px;
	position: relative;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	&:hover, &:focus {
		border-color: rgba($c-blue, .4);
		-webkit-box-shadow: 0 15px 20px 0 rgba(132, 169, 206, 0.17);
		-moz-box-shadow: 0 15px 20px 0 rgba(132, 169, 206, 0.17);
		-ms-box-shadow: 0 15px 20px 0 rgba(132, 169, 206, 0.17);
		-o-box-shadow: 0 15px 20px 0 rgba(132, 169, 206, 0.17);
	}
	.feeds-date {
		color: #909090;
		float: left;
		font-size: 10px;
		margin-top: 14px;
	}
	.feeds-header {
		margin: -2px -2px 0 -2px;
		border-radius: 7px 7px 0 0;
		overflow: hidden;
		> a {
			display: block;
		}
		img, video {
			width: 100%;
			max-width: 100%;
			max-height: 170px;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}
	.feeds-body {
		text-align: center;
		> .feeds-titles {
			background-color: #f0f0f0;
			padding: 7px 10px 10px;
			> p {
				font-size: 16px;
				margin-bottom: 0;
				text-transform: uppercase;
			}
			> h2 {
				font: {
					family: $open-sans;
					size: 14px;
					weight: bold;
				}
				line-height: 1;
				margin: 0;
			}
		}
		> .feeds-content {
			padding: 20px 15px 70px;
			> h4 {
				display: -webkit-box;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				-moz-align-items: center;
				align-items: center;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				-moz-justify-content: center;
				justify-content: center;
				font: {
					size: 14px;
					style: italic;
					weight: bold;
				}
				min-height: 30px;
				margin: 0 0 15px;
			}
			> p {
				font-size: 13px;
				margin-bottom: 0;
			}
		}
	}
	.feeds-footer {
		@include clearfix;
		padding: 0 15px 15px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		> .feeds-date {
			font-size: 11px;
			float: left;
			margin-top: 30px;
			> i {
				margin-right: 7px;
			}
		}
		> .watchlist-control {
			@extend .share;
			position: absolute;
			left: 50%;
			bottom: 15px;
			> .act-toggle-watchlist, 
			> .anonymous {
				> i {
					color: #bf61a7 !important;
					font-size: 13px !important;
					display: block;
					& + .tooltip > .tooltip-inner {
						width: 115px;
					}
					&.fa-minus {
						display: none;
						& + .tooltip > .tooltip-inner {
							width: 145px;
						}
					}
				}
				&.active {
					> i {
						&.fa-plus {
							display: none;
						}
						&.fa-minus {
							display: inline-block;
						}
					}
				}
			}
		}
		> .likes {
			float: right;
			position: relative;
			right: -10px;
		}
	}
	@media (max-width: $screen-xs-max) {
		border: 0;
		border-radius: 0;
		margin-bottom: 30px;
		min-height: auto;
		.feeds-header {
			border: 0;
			border-radius: 0;
		}
		.feeds-body {
			> .feeds-titles {
				padding: 7px 20px 10px;
			}
			> .feeds-content {
				padding: 20px 20px 80px;
			}
		}
		.feeds-footer {
			padding: 0 20px 15px;
		}
	}
}