.filter {
	background-color: $c-white;
	margin: -15px 0px 50px;

	> .filter-header {
		@include transition(background-color .3s);

		> h2 { 
			font-weight: 700;
			font-size: 16px;
			color: #56A7F3;
			letter-spacing: 0.07px;
			margin: 0px;
			text-align: center;
		    text-transform: uppercase;
		    padding: 9px;
		}
	}
	> .filter-body {
		> .filter-action {
			margin: 0px -5px 0px;
			padding: 0px 55px 0px;
			.btn-link {
				font-size: 12px;
				letter-spacing: -0.09px;
				outline: none !important;
				padding: 0px 12px;
				line-height: 14px;
				> .fa-caret-down {
					font-size: 24px;
				    margin-top: -3px;
				    margin-left: 6px;
				    vertical-align: middle;
				}
			}
			> .pull-right { 
				.dropdown-menu {
					left: 15px;
					padding: 5px 0px;
					min-width: 100%;
					z-index: 20;
					> li > a {
						padding: 5px 13px;
   						font-size: 11px;
					}
				}
			}
		}
		> .filter-tags {
			@include clearfix();
			padding: 5px 60px 0px;
			text-align: center;
		}
		> .filter-more-tags {
			text-align: center; 
			&.active {
				margin: 10px 60px 0px;
			}
		}
		> .btn-more-tags {
			text-align: center;
			> .btn-link {
				display: inline-block;
				font-size: 12px;
				text-transform: uppercase;
				padding: 10px 15px 15px;
				&.collapsed {
					position: relative;
					top: -8px;
					padding-top: 0px;
				}
			}
		} 
	}
	@media (max-width: $screen-xs-max) {

		margin: -10px 0px 30px;
		> .filter-header > h2 {
			font-size: 13px;
		}

		> .filter-body {
			> .filter-filter {
				padding: 15px 20px 0px;
				> .pull-left, > .pull-right {
					float: none !important;
					text-align: center;
				}
			}
			> .filter-action { 
				padding: 0px 40px 0px;
				text-align: center; 
				> .pull-right .dropdown-menu {
					left: inherit;
    				right: -2px;
				}
				.btn-link {
					font-size: 11px;
					padding: 5px;
					> .fa-caret-down {
					    font-size: 18px;
					    margin-top: -2px;
					}
				}
			}
			> .filter-tags {
				padding: 2px 40px 0px;
				text-align: center; 
			}
			> .filter-more-tags {
    			text-align: center;
    			&.active {
    				margin: 10px 0px 0px;
    			}
			}
			> .btn-more-tags {
    			> .btn-link {
    				font-size: 10px;
    				&.collapsed {
    					top: 5px;	
    				}
    			}
			}
		}
	}
	@media (max-width: 322px) {
		> .filter-body {
			> .filter-tags {
				padding: 2px 30px 0px;
			}
			> .filter-action { 
				padding: 0px 30px 0px;
			}
			> .btn-more-tags {
				> .btn-link {
					padding: 10px 15px 15px;
				}
			}
		}
	}
}