.login-modal {
	.modal-dialog {
		width: 525px;
		.modal-content {
		    border: 0px;
			border-radius: 0px;
		    @include box-shadow(0px 0px 0px transparent);
		    .modal-header {
		    	border: 0px;
		    	padding: 60px;
		    	img {
		    		max-width: 100%;
		    		margin: 0 auto;
		    	}
		    	.close {
		    		@include position(absolute, $top: 13px, $right: 14px);
		    		opacity: 1;
		    		transition: opacity .3s;
		    		&:hover, &:focus {
		    			opacity: .5;
		    		}
		    	}
		    }
		    .modal-body {
		    	padding: 0px 50px 60px;
		    	text-align: center;
		    	.auth {
		    		margin-bottom: 17px;
		    		> a {
						display: inline-block; 
						transition: opacity .3s;
						&:first-of-type {
							margin-right: 20px;
						}
						&:hover, &:focus {
							opacity: .8;
						}
		    		}
		    	}
		    	.form-control {
					border: 1px solid #CCCCCC;
					border-radius: 0px;
					box-shadow: 0px 0px 0px transparent;
					font-size: 16px;
					height: 37px;
					margin: 0 auto 18px;
					transition: border-color .3s;
					width: 363px;
					padding: 6px 15px;
					&:hover {
						border-color: #919191;
					}
					&:focus {
						border-color: $c-blue;
					}
		    	}
		    	.btn-login {
				    background: $c-blue;
		    		display: block;
				    margin: 43px auto 15px;
				    font-size: 16px;
				    padding: 14px 30px;
				    line-height: 19px;
				    border: 0px;
				    width: 100px;
				    transition: background-color .3s;
				    &:hover, &:focus {
				    	background-color: $c-blue-dark;
				    }
		    	}
		    	.btn-signup {
					font-size: 16px;
					letter-spacing: -0.41px;
		    	}
		    }
		}
	}
	@media (max-width: $screen-xs-max) {

		.modal-dialog {
			margin: 80px 20px 0px;
			width: auto;
			.modal-content {
				.modal-header {
					padding: 55px 44px 32px;
					.close {
						top: 10px;
						right: 10px;
					}
				}
				.modal-body {
					padding: 0px 10px 40px;
					.auth {
						> a {
							width: 125px;
							> img {
								width: 100%;
							}
							&:first-of-type {
								margin-right: 5px;
							}
						}
					}
					.form-control {
						width: 235px;
					}
					.btn-login {
						margin: 20px auto 10px;
					}
				}
			}
		}
	}
}

.modal.v-middle {
	padding: 0px !important;
	text-align: center;
	.modal-dialog {
		display: inline-block;
	    text-align: left;
	    vertical-align: middle;
	}
	&:before {
	    content: '';
	    display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	    margin-right: -4px;
	}
	@media (max-width: $screen-xs-max) {
		.modal-dialog {
			display: block;
		}
		&:before {
			display: none;
		}
	}
}

.signup-modal {
	@extend .login-modal;

	.modal-dialog {
		color: #616161;
		font-size: 13px;
		width: 410px;

		.modal-content {

		    .modal-header {
		    	padding: 40px 40px 25px;
		    	text-align: center; 
		    	> img {
		    		width: 250px;
		    	}
		    	> h2 {
		    		margin: 10px 0px 0px;
		    	}
		    }

		    .modal-body {
		    	padding: 0px 80px 35px;
		    	> .auth {
		    		margin-bottom: 20px;
		    		> a {
						display: inline-block; 
						transition: opacity .3s;
						&:first-of-type {
							margin-right: 0px;
							margin-bottom: 10px;
						}
						&:hover, &:focus {
							opacity: .8;
						}
		    		}
		    	}
		    	> .divider {
		    		color: $c-grey;
		    		margin-bottom: 17px;
		    	}
		    	.form-group {
		    		margin-bottom: 10px;
		    		.form-control {
		    			font-size: 13px;
		    			height: 30px;
		    			margin-bottom: 0px;
		    			padding: 6px 10px;
		    			width: 100%;
		    		}
	    		}
	    		.btn-signup {
		    		@extend .btn-login;
	    			font-size: 14px;
	    			letter-spacing: 0px;
	    			margin: 25px auto;
	    			padding: 8px;
	    			width: 70px;
	    		}
		    }

		}

	}
	@media (max-width: $screen-xs-max) {

		.modal-dialog {
			margin: 80px 20px 0px;
			width: auto;

			.modal-content {

				.modal-header {
					padding: 40px 40px 20px;
					> h2 {
						font-size: 24px;
						margin: 8px 0px 0px;
					}
				}
				.modal-body {
					padding: 0px 10px 35px;
					> .auth {
						margin-bottom: 10px;
						> a:first-of-type {
							margin-right: 5px;
						}
					}
					> form {
						padding: 0px 30px;
					}
				}

			}

		}

	}
	@media (max-width: 322px) {

		.modal-dialog { 
			.modal-content {

				.modal-header {
					padding: 30px 40px 20px;
					> h2 {
						font-size: 20px;
					}
				}
				.modal-body {
					padding: 0px 10px 35px;
					> .auth {
    					margin-bottom: 0px;
					}
					> .divider {
						font-size: 11px;
						margin-bottom: 10px;
					}
					> form {
						padding: 0px 20px;
					}
				}

			}

		}

	}
}

.subscriber-modal {
	.modal-dialog {
		width: 600px;
		.modal-content {
		    border: 0px;
			border-radius: 0px;
		    @include box-shadow(0px 0px 0px transparent);
		    .modal-header {
		    	border: 0px;
		    	padding: 50px 50px 80px;
		    	text-align: center;
		    	> img {
		    		width: 250px;
		    	}
		    	.close {
		    		@include position(absolute, $top: 13px, $right: 14px);
		    		opacity: 1;
		    		transition: opacity .3s;
		    		&:hover, &:focus {
		    			opacity: .5;
		    		}
		    	}
		    }
			.modal-body {
		    	padding: 0px 50px 20px;
		    	text-align: center;
		    	h2 {
				    color: #757575;
		    		font-size: 26px;
				    font-weight: 600;
				    line-height: 32px;
				    margin: 0px 0px 30px;
		    	}
				.subscribe-form {
					margin: 0 auto 120px;
					width: 270px;
					> form {
						> .form-group > .form-control {
							border-color: #bdbdbd;
							height: 34.5px;
							&:focus {
								border-color: $c-blue;
							}
						}
						> .btn-primary {
							font-size: 11px;
							padding: 9px 15px;
						}
					}
				}
				h3 {
					color: #919191;
					font-size: 20px;
				    line-height: 24px;
					margin: 0px 0px 20px;
				}
	    		.btn-signup {
					background: $c-blue;
					display: block;
					font-size: 14px;
					margin: 25px auto;
					padding: 8px;
					letter-spacing: 0px;
					line-height: 19px;
					border: 0px;
					width: 70px;
					transition: background-color .3s;
					&:hover, &:focus {
						background-color: $c-blue-dark;
					}
	    		}
			}
		}
	}
	@media (max-width: $screen-xs-max) {

		.modal-dialog {
			margin: 80px 20px 0px;
			width: auto;
			.modal-content {
				.modal-header {
					padding: 40px 40px 20px;
					.close {
						top: 10px;
						right: 10px;
					}
				}
				.modal-body {
					padding: 0px 10px 40px;
					h2 {
						font-size: 16px;
						line-height: 24px;
					}
					.subscribe-form {
						margin: 0 auto 50px;
						padding: 0px 30px 0px;
						width: auto;
					}
					h3 {
						font-size: 14px;
						line-height: 20px;
					}
					.btn-signup {
						margin: 20px auto 0px;
					}
				}
			}
		}
	}
	@media (max-width: 322px) {

		.modal-dialog { 
			.modal-content {

				.modal-header {
					padding: 30px 40px 20px;
					> img {
						width: 100%;
					}
				}
				.modal-body {
					padding: 0px 10px 35px;
					.subscribe-form {
						padding: 0px;
					}
				}

			}

		}

	}
}