
.tags {
	> a {
		background-color: #EDEDED;
		border: 0px;
		font-size: 11px;
		color: #737982;
		letter-spacing: -0.1px;
		margin: 0px 8px 8px 0px;
	    border-radius: 200px;
	    padding: 3px 20px;
	    @include transition(background-color .3s, color .3s);
	    &:hover, &:focus {
	    	color: $c-white;
	    	background-color: $c-blue;
	    }
	}
}