@charset "UTF-8";
@import "bootstrap";
@import "mixins";
@import "variables";
@import "functions";

// =============================================================================
//
// Global
//
// =============================================================================

body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}   

a {
	color: $c-blue;
}

// -------------------------
// Global / Button
// ------------------------- 
   
// -------------------------
// Prefix
// ------------------------- 
  
// -------------------------
// Typography
// ------------------------- 

// -------------------------
// Section
// -------------------------  
 
// -------------------------
// Colour
// -------------------------  
  
// =============================================================================
//
// Header / Navbar
//
// =============================================================================
 
.navbar-hypescreen {
	background-color: $c-blue;
 	border: 0px;
 	border-radius: 0px;
 	height: 75px;
	@include position(fixed, $top: 0px, $right: 0px, $left: 0px); 
 	.navbar-header {
 		.navbar-brand {
 			height: 100%;
 			padding: 13px 0px 0px 40px;
 			> img {
 				width: 181px;
 			}
 		}
 	}
 	.navbar-nav {
 		text-transform: uppercase;
	 	> li {
	 		> a {
	 			color: $c-white;
	 			font-size: 16px;
	 			padding: 28px 17px;
				letter-spacing: -0.04px;
	 			@include transition(background-color .3s);
	 			&:hover, &:focus {
	 				background-color: rgba($c-white, .1);
	 			}
	 			> i {
	 				font-size: 20px;
	 				font-weight: 700;
	 			}
	 		}
	 		&.user-login {
	 			background-color: rgba($c-white, .2);
	 			> a {
	 				padding: 14px 19px;

		 			.user-img {
					    border-radius: 50%;
					    height: 47px;
					    width: 47px;
					    object-fit: cover;
		 			}
	 			}
	 			.dropdown-menu {
	 				border: 0;
	 				border-radius: 0px;
	 				@include box-shadow(0 0 2px 0 rgba(20,60,96,0.12), 
	 									0 2px 4px 0 rgba(20,60,96,0.24)); 
	 				padding: 15px 0px; 
		 			> li {
			 			> a {
			 				color: #3F5768;
			 				padding: 10px 25px;
			 				font-size: 14px;
			 				text-transform: none;
			 			}
		 			}
	 			}
	 		}
	 	}
	 	.form-search {
	 		padding: 11px;
	 		position: relative;
	 		.form-control {
	 			background-color: transparent;
			    color: $c-white;
			    border-color: $c-white;
			    font-size: 16px;
			    height: 36px;
    			padding: 15px 20px;
    			transition: all .3s;
    			width: 237px;
			    &::-webkit-input-placeholder {
				 	color: $c-white;
			    	text-transform: uppercase;
				}
				&::-moz-placeholder {
				 	color: $c-white;
			    	text-transform: uppercase;
				}
				&:-ms-input-placeholder {
				 	color: $c-white;
			    	text-transform: uppercase;
				}
				&:-moz-placeholder {
				 	color: $c-white;
			    	text-transform: uppercase;
				}
				&:focus {
					width: 257px;
					@include box-shadow(inset 2px 2px 4px rgba($c-black, .1));
				}
	 		}
	 		.btn-submit {
	 			@include position(absolute, $top: 12px, $right: 12px); 
			    background-color: transparent;
			    color: $c-white;
			    padding: 5px 10px;
			    > i {
			    	font-size: 20px;
			    }
	 		}
	 	}
 	}
	@media (max-width: $screen-sm-max) {
		position: fixed;
		height: auto;
		.navbar-header {
			float: none;
			.navbar-brand {
				float: none;
			    display: block;
			    text-align: center;
			    padding: 20px 0px;
			    > img {
			    	width: 150px;
			    	margin: 0 auto;
			    }
			}
		}
 		.navbar-nav {
 			background-color: $c-blue;
 			margin: 0px;
 			width: 100%;
			@include position(absolute, $top: 0px, $left: 0px, $right: 0px); 
			@include transition(all .3s);
			padding: 55px 40px;
			@include transform(translateX(-1000px));
			z-index: 55; 

			> li {
				background-color: $c-blue;
				text-align: center;
				float: none;
				> a {
					&:hover, &:focus {
						background-color: transparent;
						color: rgba($c-white, .8);
					}
				}
				&:nth-child(1) {
					> a {
						padding: 23px 17px;
					}
				}
				&:nth-child(3), &:nth-child(4) {
					display: none;
				}
				&.user-login {
					background-color: transparent;
					display: table;
					width: 100%;
					border-top: 1px solid $c-white;
					> a {
						display: table-cell;
					    vertical-align: middle;
					    position: relative;
					    text-align: right;
					    width: 50%;
						.user-img {
							width: 70px;
							height: 70px;
							position: relative;
							left: 20px;
						}
					}
					.dropdown-menu {
						display: table-cell;
						vertical-align: middle;
						position: relative;
						background-color: transparent;
						box-shadow: 0px 0px 0px transparent;
						> li {
							> a {
								color: $c-white;
								font-size: 16px;
								&:hover, &:focus {
									color: rgba($c-white, .8);
									background-color: transparent;
								}
							}
						}
					}
				}
			}
			.form-search {
				position: fixed;
			    z-index: 55;
			    top: 0px;
			    left: 0px;
			    right: 0px;
			    box-shadow: 0px 0px transparent;
			    margin: 0px auto;
			    padding: 11px 40px;
			    .form-group {
			    	position: relative;
			    	.form-control {
			    		width: 100%;
			    		&:focus {
			    			width: 100%;
			    		}
			    	}
			    	.btn-submit {
			    		top: 0px;
			    		right: 0px;
			    	}
			    }
			}
 		}
	}
}

// -------------------------
// Sidenav
// ------------------------- 

.social-link path {
	fill: black;
}
.sidenav {
	&:before {
		content: " ";
		background-color: #f0f0f0;
		display: block;
		width: 335px; 
		@include position(fixed, $top: 0px, $right: 0px, $bottom: 0px, $left: 0px); 
		z-index: -1;
	}
	.nav-mobile {
		display: none;
	}
	nav {
		background-color: #f0f0f0;
		@include position(fixed, $top: 0px, $bottom: 0px, $left: 0px); 
		padding: 0px 40px;
		width: 335px;
		height: 100%;
		z-index: 55; 
		.list-menu { 
		    border-bottom: 1px solid #bdbdbd;
		    list-style: none;
		    margin-bottom: 50px;
		    padding: 30px 0px;
		    > li {
			    a {
			    	display: block;
				    text-decoration: none;
				    color: #8999AB;
				    text-transform: uppercase;
				    font-size: 16px;
				    font-weight: 700;
			    	padding: 10px 10px 10px 34px;
				    position: relative;
				    @include transition(color .3s);
				    img {
			    		@include position(absolute, $top: 10px, $left: 0px);
			    		@include transition(opacity .1s);
				    }
		    		img.is-visible {
		    			opacity: 1; 
		    			z-index: 3;
		    		}
		    		img.is-hidden {
		    			opacity: 1;
		    			z-index: 2;
		    		}
			    	&:after {
			    		content: " ";
			    		display: block;
			    		background-color: $c-blue;
			    		height: 2.5px;
			    		width: 0px;
			    		@include position(absolute, $bottom: 0px, $left: 34px);
				    	@include transition(width .3s);
			    	}
			    	&:hover, &:focus {
			    		color: $c-blue;
			    		img.is-visible {
			    			opacity: 0;
			    		}
			    		img.is-hidden {
			    			opacity: 1;
			    		}
			    		&:after {
			    			width: 26px;
			    		}
			    	}
			    }
			    &:first-of-type {
			    	a {
			    		img {
			    			left: -4px;
			    		}
			    	}
			    } 
			    &.active {
			    	a {
			    		color: $c-blue;
			    		&:after {
			    			width: 26px;
			    		}
			    	}
		    		img.is-visible {
		    			opacity: 0;
		    		}
		    		img.is-hidden {
		    			opacity: 1;
		    		}
			    }
		    }
		}
		.top-shows {
			> h2 {
				font-size: 16px;
				font-weight: 700;
				color: #8999AB;
				margin-bottom: 13px;
				text-transform: uppercase;
			}
			> ul { 
				padding: 0px;
				list-style: none;
				@include make-row;
				margin-left: -10px;
				margin-right: -10px;
				margin-bottom: 0px;
				> li {
					@include make-xs-column(6); 
					padding-right: 10px;
					padding-left: 10px;
					margin-bottom: 10px;
					> a {
						border-radius: 2px;
						overflow: hidden;
						display: inline-block;
						position: relative;
						> img {
							width: 100%;
							height: 67px;
							object-fit: cover;
						}
						&:before {
							content: " ";
							background-color: $c-black;
							display: block;
							width: 100%;
							height: 100%;
			    			@include position(absolute, $top: 0px, $right: 0px, $bottom: 0px, $left: 0px);
			    			z-index: 3;
			    			opacity: 0;
			    			@include transition(opacity .3s);
						}
						&:hover {
							&:before {
								opacity: .2
							}
						}
					}
				}
			}
			.action {
				display: block;
			    text-align: right;
			    font-size: 13px;
			    color: #424242;
			    > i {
			    	margin-left: 5px;
			    	color: $c-blue;
			    }
			}
		}
	}

	@media (max-width: $screen-sm-max) {
		&:before {
			display: none;
		}
		.nav-mobile { 
			display: block;
			@include position(fixed, $top: 0px, $left: 0px);
		    z-index: 30;

		    > a { 
		    	display: block;
		    	text-decoration: none;
	    		color: $c-white;
				padding: 32px 20px;
				width: 75px;
				height: 90px;
	    		> img {
	    			width: 35px;
					@include position(absolute, $top: 27px, $left: 20px);
					@include transition(all .3s);
					&.bars-icon {

					}
					&.close-icon {
						width: 28px;
					    top: 25px;
					    left: 24px;
					    @include transform(scale(0));
					}
	    		}
	    		&.active {
	    			> img {
	    				&.bars-icon {
					    	@include transform(scale(0));
	    				}
	    				&.close-icon {
					    	@include transform(scale(1));
	    				}
	    			}
	    		}
		    }
		}
		// #nav-backdrop {
		// 	display: none;
		// 	width: 100%;
		// 	height: 100%;
		// 	z-index: 20;
		// 	background-color: rgba(#000, .5);
		// 	position: fixed;
		// 	top:0px;
		// 	left: 0px;
		// 	right: 0px;
		// 	bottom: 0px;
		// }
		nav {
			width: 100%;
			height: auto;
			bottom: inherit;
			@include box-shadow(0px 2px 6px rgba($c-black, .15));
			@include transition(all .3s);
			@include transform(translateX(-1000px));
			.list-menu {
				margin-bottom: 0px;
				border: 0px;
			}
			.top-shows {
				display: none;
			} 
		}
	}
	@media (min-width: $screen-sm-max) {
		 nav {
			top: 75px !important;
		}
	}
}
.nav-open {
	@include transform(translateX(0px) !important);
}

// =============================================================================
//
// MAIN CONTENT
//
// =============================================================================

.main-content {
	padding-top: 75px;
	padding-left: 335px;
	.container {
		padding-top: 50px;
		padding-bottom: 50px;
		width: 805px;
	}
	@media (max-width: $screen-sm-max) {
		padding-left: 0px;
		.container {
			width: 100%;
			padding: 30px 20px; 
		}
	}
}

  
// =============================================================================
//
// Footer
//
// =============================================================================
  