// =============================================================================
// Animate for load more
// =============================================================================

// Oval
@include keyframes(load-more-oval) {
 	to { @include transform(rotate(360deg)); } 
}

// Arrow
@include keyframes(load-more-arrow) {
 	0% { margin-top: -5.5px; }
 	25% { margin-top: -10.5px; }
 	50% { margin-top: -5.5px; } 
 	75% { margin-top: 0.5px; } 
 	100% { margin-top: -5.5px; }  
}

// Dot
@include keyframes(load-more-dot) {
	from {
		background-color: #dceef5;
	}
	to {
		background-color: #a6c1dc;
	}
}

// =============================================================================
// Animate for arrow topshows
// =============================================================================

@include keyframes(hvr-icon-right) {
	0%,
	50%,
	100% {
		@include transform(translateX(0));
	}
	25%,
	75% {
		@include transform(translateX(6px));
	}
}
