#about-page {
	.main-content .container {
		color: #757575;
		margin-left: 0;
		padding: 65px 15px 65px 80px;
    	width: 900px;
	}
	h1 {
		font-size: 40px;
		color: $c-blue;
    	margin: 0px;
	}
	p.lead, .bigger {
		margin: 35px 0px 20px;
		font-size: 23px !important;
		font-weight: 600;
		opacity: 1 !important;
	}
	.about-content {
		h2 {
			font: {
				weight: bold;
				size: 19px;
			}
			line-height: 24px;
			padding-top: 10px; 
			margin-top: 0px;
			margin-bottom: 0px;
		}
		p {
			font-size: 13px;
			padding: 5px 5px 5px 0px;
			opacity: .8;
			&.no-padding {
				padding: 0;
			}
			&.m-bottom-10 {
				margin-bottom: 10px;
			}
		}
		a {
		    color: $c-blue;
		    font-weight: bold;
		    &:hover, &:focus {
		    	color: darken($c-blue, 10%);
		    }
		}
		.btn.btn-info {
			background: $c-blue;
			color: $c-white;
			font-size: 16px;
			font-weight: 400;
			padding: 14px 30px;
			line-height: 19px;
			border: 0px;
			@include transition(all .3s);
			&:hover, &:focus {
				background-color: #4e91ce;
			}
		}
	}
	@media (max-width: $screen-sm-max) {
		.main-content .container {
    		padding: 30px 20px;
			width: 100%;
		}
		h1 {
			font-size: 26px;
    		text-align: center;
		}
		p.lead, .bigger {
			margin: 35px 10px 20px;
			font-size: 20px !important;
			line-height: 26px !important;
		}
		.about-content {
			padding-left: 0px;
			h2 {
				margin-top: 0px;
			}
		}
	}
	@media (max-width: $screen-xs-max) {
		.main-content .container {
    		text-align: center;
		}
		.about-content {
			h2 {
				font-size: 18px;
			}
		}
	}
	@media (max-width: 322px) {
		.about-content {
			h2 {
				font-size: 15px;
				line-height: 18px;
			}
		}
	}
}