// Color list
$c-white: #fff;
$c-black: #000;
$c-blue: #5aa9f0;
$c-blue-dark: #4e91ce;
$c-grey: #8999AB;
$c-orange: #F38D4B;
$c-orange-dark: #da7635;

 
// Font
$lato: 'Lato', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// Distance
$left-335px: 335px;